.bottom-toolbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #28293d;
  }
  
  .bottom-toolbar button {
    background: #3b3c4d;
    border: none;
    padding: 8px 12px;
    color: #ffffff;
    cursor: pointer;
    margin: 0 5px;
    border-radius: 4px;
  }
  
  .bottom-toolbar button:hover {
    background-color: #535374;
  }
  
  .bottom-toolbar span {
    color: #ffffff;
    margin: 0 10px;
  }
  