.pdf-viewer {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    overflow-y: auto;
    height: 80vh; /* Adjust height to fit your layout */
    padding: 10px;
    background-color: #1e1e1e;
    color: white;
  }
  
  .pdf-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%; /* Adjust to control the width of the PDF content */
  }
  
  canvas {
    width: 100% !important;
    height: auto !important;
  }
  
  .upload-prompt {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15vh; /* Adjust height to make the prompt shorter */
    width: 60%; /* Adjust width for more consistent fitting */
    background-color: #5c5c5c4b;
    color: #555;
    font-size: 1.2rem;
    border: 2px dashed #ccc;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
    position: absolute;
    top: 50%; /* Center vertically */
    left: 50%; /* Center horizontally */
    transform: translate(-50%, -50%); /* Adjust positioning to be fully centered */
    margin-left: 20px;
  }
  
  .upload-prompt p {
    margin: 0;
  }
  