.right-sidebar {
    width: 210px;
    background-color: #2c2f36;
    color: white;
    padding: 20px;
    position: fixed;
    top: 50px; /* Adjust this value to account for the TopToolbar height */
    right: 0;
    height: calc(100vh - 70px); /* Subtract height of TopToolbar to ensure sidebar fits below it */
    box-shadow: -4px 0 8px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    z-index: 1; /* Ensures it stays on top of other content */
  }
  
  
  .sidebar-header h3 {
    font-size: 1.5rem;
    margin-bottom: 20px;
    color: #fff;
  }
  
  .sidebar-content {
    width: 100%;
  }
  
  .sidebar-item {
    width: 100%;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .sidebar-btn {
    background-color: #444;
    border: none;
    color: white;
    font-size: 1rem;
    padding: 10px;
    border-radius: 8px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .sidebar-btn:hover {
    background-color: #565d68;
  }
  
  .sidebar-description {
    margin-top: 8px;
    font-size: 0.9rem;
    color: #aaa;
  }
  
  .sidebar-btn span {
    flex: 1;
    text-align: left;
  }
  
  .sidebar-btn svg {
    color: #fff;
  }
  